<div class="row">
  <div class="col col-md-4">
    <h4>You entered the following information:</h4>
    <table class="table table-striped">
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td>The amount for mortgage</td>
        <td><%= number_to_currency @mortgage.property_price %></td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Down Payment</td>
        <td><%= number_to_currency @mortgage.down_payment %></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Annual %</td>
        <td><%= @mortgage.annual_interest_rate %>%</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Amortization Period</td>
        <td><%= @mortgage.amortization_period %> years</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Payment Schedule</td>
        <td><%= @mortgage.payment_schedule %></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div id="results" class="col-md-8">
    <h4>Results of calculations:</h4>
    <table class="table table-striped">
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Insurance Percent</td>
        <td><%= @mortgage.insurance_percent %>%</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Insurance Value</td>
        <td><%= number_to_currency @mortgage.insurance_value.to_i %></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Total Loan Amount %</td>
        <td><%= number_to_currency @mortgage.total_loan_amount %></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Nb of Payments</td>
        <td><%= @mortgage.nb_of_payments_total %></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Payment per period</td>
        <td><%= number_to_currency @mortgage.payment_per_payment %></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

This is all we have on your mortgage.