<div class="row">
  <div id="calculator" class="col-md-6 ps-4" >
    <%= simple_form_for @mortgage do |f| %>
      <div class="row">
        <div class="col">
          <div class="mb-3">
            <label for="property-price" class="form-label">Property Price</label>
            <div class="input-group">
              <span class="input-group-text">$</span>
              <%= f.input :property_price, label: false %>
            </div>
            <div class="form-text">Total amount of money you want to loan</div>
          </div>
          <div class="mb-3">
            <label for="down_payment" class="form-label">Down Payment</label>
            <%= f.input :down_payment, label: false %>
          </div>
          <div class="mb-3">
            <label for="annual_interest_rate" class="form-label">Annual Interest Rate</label>
            <%= f.input :annual_interest_rate, label: false %>
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <%= f.input :amortization_period, collection: Mortgage::amortization_period_collection %>
          </div>
          <div class="mb-3">
            <label for="payment-schedule" class="form-label">Payment Schedule</label>
            <select class="form-select" id="payment-schedule">
              <option>Monthly</option>
              <option>Bi-weekly</option>
              <option>Accelerated bi-weekly</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="payment-per-payment" class="form-label">Perment per payment period</label>
            <input type="email" class="form-control" id="payment-per-payment" aria-describedby="emailHelp">
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    <% end %>
  </div>

  <div id="results" class="col-md-6">
    Results of calculations
  </div>
</div>